* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 100%;
    margin: auto;

}

.wrapper {
    height: 100%;
    width: 90%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: none;
}

.fas {
    font-size: 40px;
    cursor: pointer;
    color: cyan;
}

.arrow-prev , .arrow-next {
    width: 5%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper img.active {
    display: inline-block;
}
