* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    max-width: 1200px;
    margin: auto;

}

h1 {
    text-align: center;
    padding: 20px 0;
}

.wrapper {
    height: 70%;
    width: 90%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: none;
}

.fa-chevron-left , .fa-chevron-right {
    font-size: 40px;
    cursor: pointer;
    color: blue;
}

.fa-chevron-left:hover , .fa-chevron-right:hover {
    color: cyan;
}

.arrow-prev , .arrow-next {
    width: 5%;
    height: 70%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper img.active {
    display: inline-block;
}

.circle {
    text-align: center;
}

.fa-circle {
    cursor: pointer;
}

i.active.fas.fa-circle{
    color: green;
}
