* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 500px;
    width: 100%;
    margin: auto;
    background-color: lightcoral;
}

.wrapper {
    height: 100%;
    width: 90%;
    float: left;
    display: flex;
    text-align:center;
    overflow: hidden;
}

.wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;

}

.fas {
    font-size: 40px;
    cursor: pointer;
    color: cyan;
}

.arrow-prec , .arrow-next {
    width: 5%;
    height: 100%;
    float: left;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    display: block;
}
